@font-face {
    font-family: Kanit;
    src: url(Kanit-Light.ttf);
}

body {
    font-family: Kanit;
    margin: 0;
    padding: 0;
}
.top-menu {
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: #5A9CB5;
    z-index: 10;
}
.top-menu::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #FAAC68;
    height: 5px;
    top: 100%;
    z-index: 2;
}
.top-menu .list-res {
    font-size: 30px;
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

/* ----------- Content ----------- */

.content {
    position: relative;
    top: 65px;
    height: max-content;
}

/* ------------ RES ------------- */

.content .res {
    position: relative;
    width: calc(100% - 30px);
    height:  130px;
    padding-top: 15px;
    padding-left: 15px;
}
.content .res .text-1 {
    display: block;
    width: calc(100% - 180px);
    width: max-content;
    font-size: 20px;
    position: relative;
    top: -135px;
    left: 145px;
}
.content .res .text-2 {
    display: block;
    width: calc(100% - 145px);
    font-size: 15px;
    position: relative;
    top: -140px;
    left: 145px;
}
.content .res .img {
    position: relative;
    width: 130px;
    border-radius: 10px;
}

/* ----------- Foot ---------- */

.foot-menu {
    position: relative;
    top: 80px;
    width: 100%;
    height: 200px;
    background-color: #5A9CB5;
}
.foot-menu .text-1 {
    position: relative;
    color: white;
    width: max-content;
    left: 5px;
    top: 170px;
}
.foot-menu .text-2 {
    position: relative;
    color: white;
    font-size: 20px;
    width: max-content;
    left: 5px;
    top: -15px;
}
.foot-menu .text-3 {
    position: relative;
    color: white;
    font-size: 15px;
    width: max-content;
    left: 10px;
    top: -15px;
}

.foot-menu::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #FAAC68;
    height: 5px;
    top: 0%;
    z-index: 2;
}
